.navbarWrapper { /*along with 'container fluid', makes the navbar*/
    position: fixed;
    display: flex-fluid;
    width: 100%;
}

.navbarStyle {
    position: fixed; /*The markup doing the trick is not this one, but the "hardcoded" one in the component...*/
    background: linear-gradient(to right, rgba(0, 0, 255, 0.491), #2f2bb47d,#6030b478, #701ba19e, #5b1782);
    height: 10vh;
}

.navbar-toggler {
    float: right;
}


/*/////////////////////////////////////////////// MEDIA QUERIES START //////////////////////////////////////////////*/


/*iPhone 5*/
@media (device-height : 568px) 
   and (device-width : 320px) 
   and (-webkit-min-device-pixel-ratio: 2) {

    .newEnglandFirstClass {
        display: none;
    }

    .mobileOnlyNavbar {
        display: block;
        margin-right: 5%;
        margin-top: 1.5%;
        font-size: 90%;
        font-family: Stardos Stencil;
    }
	
}

/*iPhone 6/7/8*/
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) { 

    .newEnglandFirstClass {
        display: none;
    }

    .mobileOnlyNavbar {
        display: block;
        margin-right: 17%;
        margin-top: 1.5%;
        font-size: 90%;
        font-family: Stardos Stencil;
    }
}


/*iPhone 6+/7+/8+ */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (-webkit-device-pixel-ratio: 3) { 
    
    .newEnglandFirstClass {
        display: none;
    }

    .mobileOnlyNavbar {
        display: block;
        margin-right: 17%;
        margin-top: 1.5%;
        font-size: 90%;
        font-family: Stardos Stencil;
    }
}



/*iPhone X*/
@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) {

	.newEnglandFirstClass {
        display: none;
    }

    .mobileOnlyNavbar {
        display: block;
        margin-right: 17%;
        margin-top: 1.5%;
        font-size: 90%;
        font-family: Stardos Stencil;
    }
}





/*---LAPTOPS AND ABOVE---*/



/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) {
      
    .mobileOnlyNavbar {
        display: none;
    }
    
}



/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
  
    .mobileOnlyNavbar {
        display: none;
    }
}