.navbarWrapper { /*along with 'container fluid', makes the navbar*/
    position: fixed;
    display: flex-fluid;
    width: 100%;
}

.navbarStyle {
    position: fixed; /*The markup doing the trick is not this one, but the "hardcoded" one in the component...*/
    background: linear-gradient(to right, rgba(0, 0, 255, 0.491), #2f2bb47d,#6030b478, #701ba19e, #5b1782);
    height: 10vh;
}

.navbar-toggler {
    float: right;
}



/*iPhone 6/7/8*/
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) { 

    /*////////////////////// NAV BAR //////////////////*/
    .newEnglandFirstClass {
        display: none;
    }
}

