.rollcallSection {
  background: linear-gradient(white, #b300ff4d)
}

.sectionHeader {
    font-size: 450%; 
    font-weight: 300; 
    padding-bottom: 4%; 
    padding-top: 4%;
    color: rgb(111, 27, 161);
}

/*/////////////Grow on hover Effect////////////*/
.growEffect {
    transition: all .2s ease-in-out;
}
.growEffect:hover {
    transform: scale(1.2)
}
/*/////////////Grow on hover Effect Ends////////////*/






/*//////////////////Modal picture and Bio///////////////////*/
.dividedInTwo {
    height: 100%;
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  
  .dividedInTwo > * {
     flex: 1 100%;
    -webkit-flex: 1 100%; 
  }
  
  
  .dividedInTwoContainer {
    flex: 1;
    -webkit-flex: 1; 
    
    display: flex;        
    display: -webkit-box;  
    display: -ms-flexbox; 
    display: -webkit-flex;  
    
    -webkit-flex-direction: row;
    flex-direction: row;
  }
  
  .flexedArea {
    background: white;
     max-width: 600px;
    position: relative;
    
    display: flex;        
    display: -webkit-box;  
    display: -ms-flexbox; 
    display: -webkit-flex;  
    
    flex: 1 auto;
    -webkit-flex: 1 auto;
    
    -webkit-order: 3;
    order: 3;
    
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  
  .right {
    margin: 0 2% 0 2%;
    max-width: 600px;
    position: relative;
    
    display: flex;        
    display: -webkit-box;  
    display: -ms-flexbox; 
    display: -webkit-flex;  
    
    flex: 1 auto;
    -webkit-flex: 1 auto;
    
    -webkit-order: 3;
    order: 3;
    
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  
  .rightContent {
    /* background: lightpink; */
    
    flex: 1 auto;
    -webkit-flex: 1 auto;
  }
  
  @media screen and (max-width: 479px) {
    .dividedInTwoContainer {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
    .right, .flexedArea {
      max-width: 100%;
      
      flex: 1;
      -webkit-flex: 1;
    }
    /* body, html, .dividedInTwo {
      height: auto; 
    }*/
  }



/*/////////////////////////MEDIA QUERIES START///////////////////////////*/

/*iPhone 5*/
@media (device-height : 568px) 
   and (device-width : 320px) 
   and (-webkit-min-device-pixel-ratio: 2) {

    .sectionHeader {
      font-size: 275% !important;
    }

    .studentIterationCards {
      display: none !important;
    }

    .studentNameInModalforMobile {
      font-size: 180%;
      margin-top: 5%
    }
	
}

/*iPhone 6/7/8*/
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) {

  .studentIterationCards {
    display: none !important;
  }
}




/*iPhone 6+/7+/8+ */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (-webkit-device-pixel-ratio: 3) { 
  .studentIterationCards {
    display: none !important;
  }
}




/*iPhone X*/
@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) {

      .studentIterationCards {
        display: none !important;
      }
	
}




/*iPhone XR*/
@media only screen and (min-device-width : 414px) and (max-device-height : 896px) and (-webkit-device-pixel-ratio : 2) {
  
  .studentIterationCards {
    display: none !important;
  }
	
}

/*iPhone XS*/
    @media only screen and (min-device-width : 375px) and (max-device-height : 812px) and (-webkit-device-pixel-ratio : 3) {
  
      .studentIterationCards {
        display: none !important;
      }
	
}

/* iphone XS Max */
    @media only screen and (min-device-width : 414px) and (max-device-height : 896px) and (-webkit-device-pixel-ratio : 3){
  
      .studentIterationCards {
        display: none !important;
      }
	
}

/*Galaxy 5s*/
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
    
    .studentIterationCards {
      display: none !important;
    }
		
}


/*/////////Other androids///////////*/

/*Samsung Galaxy S9 Media Queries (In terms of Mobile only)*/

@media only screen and (min-width: 360px) and (max-width: 767px) { 

    .studentIterationCards {
      display: none !important;
    }

}


/*---LAPTOPS AND ABOVE---*/

/* ----------- Non-Retina Screens ----------- */
@media screen 
 and (min-device-width: 1200px) 
 and (max-device-width: 1600px) 
 and (-webkit-min-device-pixel-ratio: 1) { 

  .mobileStudentRows {
    display: none !important;
  }
}

/* ----------- Retina Screens ----------- */
@media screen 
 and (min-device-width: 1200px) 
 and (max-device-width: 1600px) 
 and (-webkit-min-device-pixel-ratio: 2)
 and (min-resolution: 192dpi) { 

  .mobileStudentRows {
    display: none !important;
  }

}

/* ----------- Wide Screens ----------- */


@media only screen  and (min-width : 1224px) {
  .mobileStudentRows {
    display: none !important;
  }
}
   